<!DOCTYPE html>
<html lang="en">

{{template "t_header" .}}

<body>
    
    {{template "t_navbar" .}}

    {{if .isError}}
    <div class="alert alert-warning alert-dismissible center-block" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong class="text-center">Warning!</strong> {{.error}}
</div>   
    {{end}}
    <!--主页面-->
    <div class="container-fluid">
        <div class="row">
            {{range .lists}}
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{.Tag}}<span class="badge">{{.Notebook|len}}</span></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{range .Notebook}}
                            <li class="list-group-item"><a href="/note/{{.Id}}">{{.Title}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            {{end}}        
        </div>
    </div>
    <!--主页面-->
</body>

</html>